{% extends "base.html" %}

{% block content %}
  <h1>Help</h1>
  <h2>To make an account:</h2>
  <ul>
    <li>click on login</li>
    <li>click create account</li>
    <li>fill out the information</li>
    <li>click register</li>
  </ul>
    <h2>To buy a book:</h2>
  <ul>
    <li>find the book under Books</li>
    <li>click on the book</li>
    <li>add to the shopping cart</li>
    <li>go to the cart</li>
  <li>click checkout</li>
  </ul>
    <h2>To update account information:</h2>
  <ul>
    <li>click on profile</li>
    <li>click update info</li>
    <li>fill in the information</li>
    <li>click update</li>
  </ul>
{% endblock %}